               nav {
                background-color: #333;
               }

               header {
                background-color: olive;
                text-align: center;
               }

               section {
                background-color: rgv(245, 241, 243);
               }

               footer {
                background-color: #333;
                text-align: center;
               }

               article {
                background-color: white;
               }

               a {
                color: white;
               }
               h1 {
                color: white;
               }
               * {
                font-family: 'Courier New', Courier, monospace;
               }




